<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ลงทะเบียน
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="mycss1">
  <ion-grid justify-content-center align-items-center>
    <ion-card class="cardcss">
        <div class="progressbar">
          <ul>
            <li>
              <fa-icon [icon]="['fas', 'circle']"></fa-icon>
              <p style="font-size: 10px">สมัครสมาชิก</p>
            </li>
            <li>
              <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
              <p style="font-size: 10px">หมายเลขโทรสัพท์</p>
            </li>
            <li>
              <fa-icon [icon]="['fas', 'circle']"></fa-icon>
              <p style="font-size: 10px">เสร็จสิ้น</p>
            </li>
          </ul>
        </div>
      <ion-col>
        <ion-row style="margin-bottom: 20px;">
          <ion-label style="margin: auto; font-size: 20px">
            หมายเลขโทรสัพท์ของคุณคือ
          </ion-label>
        </ion-row>
        <ion-row style="margin-bottom: 20px;">
          <ion-input text-center ngModel="machineNo" style="font-size: 25px">
          </ion-input>
        </ion-row>
        <ion-row>
          <ion-button (click)="goToSuccess()" class="mycss1" style="margin: auto;">
            ถัดไป
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-card>
  </ion-grid>
</ion-content>
