<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ลงทะเบียนเครื่อง AED
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="mycss1">
    <ion-card class="cardcss" style="margin: 20px; display: grid">
      <div class="progressbar">
        <ul>
          <li>
            <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
            <p style="font-size: 10px">ลงทะเบียนเครื่อง AED</p>
          </li>
          <li>
            <fa-icon [icon]="['fas', 'circle']"></fa-icon>
            <p style="font-size: 10px">รหัสประจำเครื่อง</p>
          </li>
          <li>
            <fa-icon [icon]="['fas', 'circle']"></fa-icon>
            <p style="font-size: 10px">เสร็จสิ้น</p>
          </li>
        </ul>
      </div>
      <ion-col class="center">
        <ion-avatar style="width: 100px; height: 100px;">
          <img src="../../assets/icon/images.png"/>
        </ion-avatar>
      </ion-col>
      <ion-item>
        <ion-label position="floating" class="inputcss">ชื่อเครื่อง*</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="deviceName" placeholder="โปรดระบุ" type="name" required=""></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">รายละเอียดสถานที่*</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="deviceLocationName" placeholder="โปรดระบุ" type="name" required=""></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">จุดสังเกตเพิ่มเติม*</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="deviceDesc" placeholder="โปรดระบุ" type="email"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">เบอร์ติดต่อ*</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="deviceContact" placeholder="โปรดระบุ" type="number"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">รหัสเครื่อง*</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="deviceEui" placeholder="โปรดระบุ"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">ระบุตำแหน่งเครื่องละติจูด*</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="latitude" placeholder="โปรดระบุ" type="number"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">ระบุตำแหน่งเครื่องลองติจูด*</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="longitude" placeholder="โปรดระบุ" type="number"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-img style="width: 300px; height: 150px;" src="../../assets/icon/map.jpg"></ion-img>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <ion-button class="savecss" expand="round" color="brown">บันทึกพิกัด
          </ion-button>
        </ion-col>
      </ion-row> -->
      <br><br/>
      <ion-col class="center">
        <ion-button (click)="addData()" class="savecss" expand="round" color="brown">บันทึก
        </ion-button>
      </ion-col>
    </ion-card>
</ion-content>
