<!--<ion-header>-->
<!--  <ion-toolbar class="header" >-->
<!--    <ion-row>-->
<!--      <ion-col size="3">-->
<!--          <ion-menu-button class="md button ion-activatable ion-focusable hydrated" (click)="goToHome()"></ion-menu-button>-->
<!--      </ion-col>-->
<!--      <ion-col class="center">-->
<!--        <p>เครื่อง AED ของฉัน</p>-->
<!--      </ion-col>-->
<!--      <ion-col size="3">-->
<!--        <p>-->
<!--          เพิ่มเครื่อง-->
<!--        </p>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button (click)="goToHome()"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ลงทะเบียนเครื่อง AED
    </ion-title>
    <ion-buttons slot="end">

      <p style="padding-left: 10px; padding-right: 10px; font-size: x-small;">
        <ion-img style="width: 20px; margin: auto;" src="../../assets/icon/AED_LOGO.png"></ion-img>
        เพิ่มเครื่อง
      </p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="mycss1">
  <ion-grid>
    <ion-card class="cardcss">
      <div>
        <ion-item>
          <ion-col size="2">
            <ion-avatar>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTZWALBcIoOCIqCewcXP2TozCrVPkl88BQGrNVlZroTdsigaByr">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <p style="font-size:15px">รหัสประจำเครื่อง NGFERD</p>
            <p style="font-size: 10px">ศูนย์ราชการ แจ้งวัฒนะ ถนน รัตนาธิเบต ตำบล บางกระสอ อำเภอเมืองนนทบุรี นนทบุรี 10111</p>
          </ion-col>
          <ion-col size="3">
            <p style="font-size: 9px">
              รอการอนุมัติ
            </p>
            <p herf="#">แก้ไข</p>
          </ion-col>
        </ion-item>
      </div>
      <div>
          <ion-item>
            <ion-col size="2">
              <ion-avatar>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTZWALBcIoOCIqCewcXP2TozCrVPkl88BQGrNVlZroTdsigaByr">
              </ion-avatar>
            </ion-col>
            <ion-col>
              <p style="font-size:15px">รหัสประจำเครื่อง NGFERD</p>
              <p style="font-size: 10px">ศูนย์ราชการ แจ้งวัฒนะ ถนน รัตนาธิเบต ตำบล บางกระสอ อำเภอเมืองนนทบุรี นนทบุรี 10111</p>
            </ion-col>
            <ion-col size="3">
              <p style="font-size: 9px">
                รอการอนุมัติ
              </p>
              <p herf="#">แก้ไข</p>
            </ion-col>
          </ion-item>
      </div>
    </ion-card>
  </ion-grid>
</ion-content>
