
<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ลงทะเบียน
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="mycss1">
  <!--    <ion-stepper #stepper (selectIndexChange)="selectChange($event)">-->
  <!--        <ion-step label="Step1"-->
  <!--                  description="Step1 description">-->
  <!--            <h2>Step1 Content</h2>-->
  <!--            <p>Step1 Content</p>-->
  <!--            <button ion-button small ionicStepperNext>Next</button>-->
  <!--        </ion-step>-->
  <!--        <ion-step label="Step2 - Step2 - Step2"-->
  <!--                  description="Step1 description">-->
  <!--            <h2>Step2 Content</h2>-->
  <!--            <p>Step2 Content</p>-->
  <!--            <button ion-button color="light" small ionicStepperPrevious>Previous</button>-->
  <!--        </ion-step>-->
  <!--    </ion-stepper>-->
  <ion-grid>
    <ion-card class="cardcss">
      <ion-col class="center">
        <ion-avatar style="width: 100px; height: 100px;">
          <img src="../../assets/icon/images.png"/>
        </ion-avatar>
      </ion-col>
      <ion-item>
        <ion-label position="floating" class="inputcss">ชื่อ*</ion-label>
          <ion-item-divider>
            <ion-input [(ngModel)]="firstName" placeholder="โปรดระบุ" type="name"></ion-input>
          </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">นามสกุล*</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="lastName" placeholder="โปรดระบุ" type="name"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">วันเดือนปีเกิด*</ion-label>
        <ion-datetime [(ngModel)]="birthday" placeholder="เลือกวันเดือนปีเกิด"></ion-datetime>
      </ion-item>
      <ion-item>
      <ion-label position="floating" class="inputcss">เลขบัตรประจำตัวประชาชน*</ion-label>
      <ion-item-divider>
        <ion-input [(ngModel)]="idNum" placeholder="โปรดระบุ"></ion-input>
      </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">เพศ*</ion-label>
      <ion-select [(ngModel)]="gender" placeholder="Select One">
        <ion-select-option value="M">Male</ion-select-option>
        <ion-select-option value="W">Female</ion-select-option>
      </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">กรุ๊ปเลือด</ion-label>
        <ion-select [(ngModel)]="bloodGroup" placeholder="Select One">
          <ion-select-option value="AB">AB</ion-select-option>
          <ion-select-option value="A">A</ion-select-option>
          <ion-select-option value="B">B</ion-select-option>
          <ion-select-option value="O">O</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">น้ำหนัก</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="weight" placeholder="โปรดระบุ" type="number"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
      <ion-label position="floating" class="inputcss">ส่วนสูง</ion-label>
      <ion-item-divider>
        <ion-input [(ngModel)]="height" placeholder="โปรดระบุ"></ion-input>
      </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">ที่อยู่</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="address" placeholder="โปรดระบุ"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">ตำบล</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="subDistrict" placeholder="โปรดระบุ"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">อำเภอ</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="district" placeholder="โปรดระบุ"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">จังหวัด</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="province" placeholder="โปรดระบุ"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">รหัสไปรษณีย์</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="zipCode" placeholder="โปรดระบุ"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">ประวัติการแพ้ยา</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="drugAllergy" placeholder="โปรดระบุ"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">โรคประจำตัว</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="congenitalDisease" placeholder="โปรดระบุ"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">โรงพยาบาล</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="hospital" placeholder="โปรดระบุ"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">ชื่อผู้ที่สามารถติดต่อได้ในกรณีฉุกเฉิน</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="contactName" placeholder="โปรดระบุ"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">เบอร์โทรผู่ที่สามารถติดต่อได้</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="contactPhone" placeholder="โปรดระบุ" type="number"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">ความสัมพันธ์</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="contactRelation" placeholder="โปรดระบุ"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">ประเภทผู้ใช้งาน*</ion-label>
        <ion-select [(ngModel)]="userType" placeholder="Select One">
        <ion-select-option value="V">Volunteer</ion-select-option>
        <ion-select-option value="P">Patient</ion-select-option>
          </ion-select>
      </ion-item>
<!--      <ion-item>-->
<!--        <ion-label position="floating" class="inputcss">อีเมลล์*</ion-label>-->
<!--        <ion-item-divider>-->
<!--          <ion-input  placeholder="โปรดระบุ" type="email"></ion-input>-->
<!--        </ion-item-divider>-->
<!--      </ion-item>-->
      <ion-item>
        <ion-label position="floating" class="inputcss">เบอร์โทรศัพท์*</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="mobileNo" placeholder="โปรดระบุ"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">รหัสผ่าน*</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="password" placeholder="โปรดระบุ" type="password"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">รูปภาพ</ion-label>
        <ion-item-divider>
          <ion-input [(ngModel)]="userPic" placeholder="โปรดระบุ"></ion-input>
        </ion-item-divider>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="inputcss">สเตตัส*</ion-label>
        <ion-select [(ngModel)]="userStatus" placeholder="Select One">
          <ion-select-option value="M">ACTIVE</ion-select-option>
          <ion-select-option value="W">NONE</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-label position="floating">สำหรับผู้ป่วย</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-radio-group>
          <ion-text>ประวัติการแพทย์</ion-text>
          <ion-radio color="dark" checked="true"></ion-radio>
          <ion-label> ยินยอม</ion-label>
          <ion-radio color="dark"></ion-radio>
          <ion-label>ไม่ยินยอม</ion-label>
        </ion-radio-group>
      </ion-row>
      <ion-row>
        <a href="#">นโยบายความเป็นส่วนตัว</a>
      </ion-row>
      <ion-row>
        <ion-col size="7">
          <ion-item>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-button class="savecss" expand="round" color="brown">อัพโหลด
          </ion-button>
        </ion-col>
      </ion-row>
      <br><br/>
      <ion-col class="center">
        <ion-button (click)="register()" class="savecss" expand="round" color="brown">บันทึก
        </ion-button>
      </ion-col>
    </ion-card>
  </ion-grid>
</ion-content>
